@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.body {
    background-color: #313638;
}

.header {
    height: 15%;
    background: #313638;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.navbar #navlinks {
    list-style: none;
    display: inline-block;
    text-align: right;
}

.navlink {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 10px #1f2223;
    font-size: 20px;
    background-color: #E4B363;
    color: white;
    text-decoration: none;
}

.navbar #title {
    font-size: 50px;
}

#me-pic {
    width: 60%;
    height: 60%;

}

.about-me {
    background-color: #EF6461;
    color: white;
    padding: 20px;
    text-align: center;
}


#projects-header {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 40px;
}

.projects {
    justify-content: center;
    align-items: center;
    background-color: #313638;
}
.stock-project {
    margin-left: 500px;
    width: 500px;
    height: 500px;
}

.project-box {
    color: white;
    background-color: #EF6461;
}

.desc {
    text-align: center;
    background-color: #313638;
    color: white;
    padding: 20px;
}

.footer {
    text-align: center;
}